%ul.flip.minutePlay
  %li
    .up
      .shadow
      #hour11.inn
%ul.flip.minutePlay
  %li
    .up
      .shadow
      #hour21.inn
.digitSeparator
  \:
%ul.flip.minutePlay
  %li
    .up
      .shadow
      #minute11.inn
%ul.flip.minutePlay
  %li
    .up
      .shadow
      #minute21.inn
.digitSeparator
  \:
%ul.flip.minutePlay
  %li
    .up
      .shadow
      #second11.inn
%ul.flip.minutePlay
  %li
    .up
      .shadow
      #second21.inn