%table.table.table-hover.table-striped.table-bordered{:style => 'width:100%'}
  %tbody#hackathon_list
    %tr
      %th Name
      %th Location
      %th Description
    - @user = User.find_by_username(params[:username])
    - @user.hackathons.each do |hack|
      %tr.minor{:'data-hack-id' => hack.id}
        %td.hackathon_name
          = hack.name
        %td.hackathon_location
          = hack.location
        %td.hackathon_desc
          = hack.desc