.jumbotron
  %h1 LiveHack!
  %p#initial-subheading.subs
    The countdown begins. Login with facebook to get going.
  %p.hide#logged-in-subheading.subs
    Access your hackathon below, or create a new hackathon 
    <a id="new-hack-modal">here</a>.
  %p.hide#creating-hack-subheading.subs
    Creating a new Hackathon. Click <a id="go-back" href='#'>here</a> to go back.
  %button.btn.btn-primary#login-btn Login