.jumbotron
  %h1 LiveHack!
  %p#initial-subheading
    The countdown begins. Login with facebook to get going.
  %p.hide#logged-in-subheading
    Access your hackathon below, or create a new hackathon 
    <a href="#new-hack-modal" role="button" data-toggle="modal">here</a>.
  %button.btn.btn-primary#login-btn Login