#new-hack-modal.modal.hide.fade
  .modal-header#new-hack-modal-header 
    %button{:type => "button", :class => "close", :"data-dismiss" => "modal", :"aria-hidden" => "true"} &times
    %h3 New Hackathon
  = render 'form'