.tabbable#new-hack-modal-content
  %ul.nav.nav-tabs#form-tabs
    %li.active
      %a{:href => "#fbevent-tab", :'data-toggle' => 'tab'}
        Facebook
    %li
      %a{:href => "#invite-friends-tab", :'data-toggle' => 'tab'}
        Invite Friends
    %li
      %a{:href => "#schedule-tab", :'data-toggle' => 'tab'}
        Schedule
  .tab-content.text-center
    .tab-pane.active{:id => "fbevent-tab"}
      = render 'stage1'
    .tab-pane{:id => "invite-friends-tab"}
      = render 'stage2'
    .tab-pane{:id => "schedule-tab"}
      = render 'stage3'