.row
  .span8.offset2
    %h3#invite-header Create the Hackathon Schedule
    %p 
      From here you can put together a hackathon schedule.
    %p
      See <a href="http://http://fortawesome.github.io/Font-Awesome/">font-awesome</a> for the choice of icon.
.row
  .span5.offset1{:style => 'text-align:left;'}
    %label Item Label
    %label Starting Time
    %label Font-Awesome Icon Class
  .span5.span-divided{:style => 'height:300px'}
.row
  .span10.offset1
    %table.table
      %tbody
        %tr
          %th.sch-item-tb-header Label
          %th.sch-item-tb-header Time
          %th.sch-item-tb-header Font-awesome Icon