.row
  .span8.offset2
    %h3#invite-header Create the Hackathon Schedule
    %p 
      From here you can put together a hackathon schedule. This will be shown
      at the top of the hackathon page, with the current event highlighted.
    %p
      Use the live preview to customise the appearance of each button using
      font-awesome icons, then give the event a short label (recommended 12 chars)
      and a start time. We'll do the rest.