.row
  .span8.offset2
    %h3#stage3-header Create the Hackathon Schedule
    %p#stage3-caption
      From here you can put together a hackathon schedule.
    #processing-progress.progress.progress-striped.hide.active
      #bar.bar{:style => 'width:0%'}
    %p.stage3-only
      See <a href="http://fortawesome.github.io/Font-Awesome/">font-awesome</a> for the choice of icon.
.row.stage3-only#font-awesome-pane
  .span5.offset1.schedule-item-form
    .buffer{:style => 'height:20px'}
    %label Item Label
    %input#schedule-label-in{:type => :text, :placeholder => 'Enter item label'}
    %label Starting Time
    %input.time-in#schedule-start-in{:type => :text, :placeholder => 'Start time'}
    %label Font-Awesome Icon Class
    %input#font-input{:type => :text, :placeholder => 'Font-Awesome class'}
    %br
    .buffer{:style => 'height:5px;'}
    %button#schedule-item-add.btn.btn-primary.disabled Add Item
    %button#finish-new-hack.btn.btn-inverse Finish
  .span5.span-divided{:style => 'height:300px'}
    %a#live-preview.schedule-item{:style => 'position:relative;left:50%;top:30%;'}
      %i#live-preview-icon

.row
  .buffer{:style => 'height:10px'}
  .span10.offset1
    %table.table.table-bordered
      %tbody#sch-item-table
        %tr
          %th.sch-item-tb-header Label
          %th.sch-item-tb-header Time
          %th.sch-item-tb-header Font-awesome Icon

%table.hide
  %tbody
    %tr.item#sch-item-row-template
      %td.sch-label{:style => 'text-align:center;'}
      %td.time{:style => 'text-align:center;'}
      %td.font{:style => 'text-align:center;'}