.container{:style => 'text-align:left'}
  .row#my-info
  .row
    .span3
      .well.team-well
        %ul#teams-nav.nav.nav-list{:style => 'text-align:left'}
          %li.nav-header Your Team
          #nav-teams-user
          %li.nav-header Other Teams
          #nav-teams-others
    .span9
      #user-team-pane
        = render :partial => 'teams/team'
      #team-view-pane.hide
      #team-view-pane-template.hide
        = render :partial => 'teams/team'
      = render :partial => 'teams/new_team'