.container
  .jumbotron
    %h1#jumbo_header= @hackathon.name
    .span12{:style => "height : 70px"}
      #flip_clock= render :partial => 'shared/clock'
  .row-fluid{:style => 'margin-top:-40px'}
    .span6{:style => 'text-align:left'}
      %a{:href => '#'}
        %h2 Stats
    .span6{:style => 'text-align:right'}
      %a{:href => '#'}
        %h2 Ideas
  #schedule
  = render 'shared/buddy'
  .row-fluid#message_board
    .span12
      #fb-root
      .fb-comments{'data-href' => "http://livehack-facebook.herokuapp.com/", 'data-num-posts' => '5'}
  #git_commits
