.container
  .jumbotron
    %h1#jumbo_header= @hackathon.name
    %p#hack_description= @hackathon.desc
    .span12{:style => "height : 60px"}
      #flip_clock= render :partial => 'shared/clock'
  #schedule
  #git_commits
