.container
  .jumbotron
    %h1#jumbo_header= @hackathon.name
    .span12{:style => "height : 110px"}
      #flip_clock= render :partial => 'shared/clock'
  #schedule
  #my_sch
  #fb-root
  .fb-comments{'data-href' => "http://livehack-facebook.herokuapp.com/", 'data-num-posts' => '5'}