/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 */

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]  {width: 100% !important;}

.no-margin {
	margin : 0px 0px 0px 0px;
}

.row-buffer {
	height : 65px;
}

#login-btn {
	padding : 8px 20px 8px 20px;
	font-size : 15pt;
}

.table {
	.hackathon_name {
		width : 15%;
	} .hackathon_desc {
		width : 50%;
	} .hackathon_location {
		width : 35%;
	} .minor {
		cursor : pointer;
	}
}