/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 *= require datetimepicker
 *= require font-awesome
 *= require jquery.facebook.multifriend.select
  *= require jquery.facebook.multifriend.select-list
 */

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]  {width: 100% !important;}

[class^="icon-"], [class*=" icon-"]{  /*fixes font-awesome duplication*/
    background:none !important;
}

.no-margin {
	margin : 0px 0px 0px 0px;
} 

.stage1in {
	cursor : default !important;
}

.user-instructions {
	margin-top : 20px;
}

.event-img {
	width : 60px; height : 60px; 
	min-width: 60px; min-height: 60px;
	margin-right : 5px; float : left;
	padding-top : 5px;
	/*border : solid 1px #333333;*/
}

a {
	cursor : pointer;
}

tr.title {
	text-align : left;
}

h5.event-header {
	margin :0px;
	cursor : pointer;
}
.push-up {
	padding-top : 5px;
}

td.info {
	text-align: justify !important;
	max-height : 50px;
}

h5.loc {
	margin-top : 0;
	color : rgb(0, 136, 204);
}

#event-table {
	margin-left: -30px;
	margin-top : 20px;
}

#name, #location {
	text-align: right;
}

.row-buffer {
	height : 65px;
}

#desc-in {
	width : 85%;
}

#login-btn {
	padding : 8px 20px 8px 20px;
	font-size : 15pt;
	visibility : hidden;
}


.hackathon-name {
	width : 25%;
} .hackathon-location {
	width : 25%;
} .hackathon-start-date {
	width : 25%;
}	.hackathon-attendees {
	width : 25%;
} .minor {
	cursor : pointer;
}


.nav-tabs > li, .nav-pills > li {
    float:none !important;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.padded {
	width : 55px;
}

.span-divided {
	border-left: 1px solid #e3e3e3;
	margin-left: 10px !important;
	min-height: 300px !important;
	text-align : right;
}