// Place all the styles related to the Hackathons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-hack-modal-body {
	input {
		width : 97%;
	}
}

.schedule-item-form > input {
  text-align : center;
}

.time-in.stage1in {
  max-width: 120px;
}

.time-in {
  cursor: default;
}

.user-details-in {
  cursor : default !important;
  text-align : center;
}

.skill-badge {
  cursor : pointer;
  margin : 0px 5px 0px 5px;
}

#processing-progress {
  margin-left : auto; margin-right : auto;
  width : 300px;
}

.jumbotron > h1 {
  cursor : default;
}

#hackathon > .jumbotron > h1 {
  cursor : pointer;
}

#schedule-view {
  width : 100%; 
  margin : -25px 0px 25px 0px;
  max-height : 0px;
}

.schedule-item > i {
  width : 70px; height : 70px;
  margin : 5px -35px 0px -35px;
}

.schedule-item > label {
  opacity : 0;
  width : 200px; height : 26px;
  font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color : black; font-weight : bold;
  font-size : 14px; margin : -12px 0px 0px -64px; text-align : center;
}