// Place all the styles related to the Hackathons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-hack-modal-body {
	input {
		width : 97%;
	}
}

.schedule-item-form > input {
  text-align : center;
}

.time-in.stage1in {
  max-width: 120px;
}

.time-in {
  cursor: default;
}