// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.team-well {
  padding :8px 0px !important;
  min-height : 300px !important;
}

.team-desc {
  width : 100%;
}

.add-members-name {
  width : 30%;
}

#finish-adding-members {
  position : relative;
  top : 120px;
  width : 80px;
}